# ===================================================================
# tpDcc-core common requirements file @ Autodesk Maya
# ===================================================================

-r ./../common.txt
